* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/train.jpg") no-repeat center;
  background-size: cover;
  z-index: 3;
}

.header__title_text {
  color: #e7e0e0;
  font: 52px 'Fredoka One', san-serif;
}

.header__overlay {
  width: 1%;
  height: 100%;
  position: relative;
  z-index: 4;
  background: url("../img/city.jpg") no-repeat center;
  background-attachment: fixed;
  -webkit-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
}

.header__overlay:hover {
  opacity: 0;
  -webkit-transition: 0s linear;
  -o-transition: 0s linear;
  transition: 0s linear;
}

.webp .header__title { background: url(../img/train.webp) no-repeat center; }

.webp .header__overlay { background: url(../img/city.webp) no-repeat center; }